*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.logo h2{
    color:white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
}
.logo p{
    color:white;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: maroon;
    padding:20px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin-right:50px;
    transition: transform 0.3s ease;

}
.nav-list a{
    color:white;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.nav-list a:hover {
    text-decoration: solid;
    transform: scale(1.1);
}

.nav-list .active {
    font-weight: bold;
}

.login button{
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border:none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.login span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.login button:hover{
    text-decoration:solid;
    transform: scale(1.1);
}
.hamburger{
    display: inline-block;
    border-radius:2px ;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    position: relative;
}
.hamburger::before,
.hamburger::after {
    content: "";
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}
main{
    width: min(80%,1200px);
    margin:auto;
}

main form{
    display: grid;
    gap:1em;
    padding-block: 2em;

}

form input,textarea{
    padding:10px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    border:none;
    padding:10px 15px 10px 15px;
    border-radius: 5px;
    background-color: maroon;
    color:white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{    
    background-color: #ff3333;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1em;
}

.note-card {
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    gap:0.5em;
    align-items: center;
    margin-bottom: 10px;
    gap:0.5em;
  }
.note-content{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightsalmon;
    padding-block:1em;
    /* display: */
    /*justify-content: space-between; */
    flex-grow:1;
    flex-basis: 200px;
    
}

.note-title{
    margin:0 10px 0 10px;
    font-size:18px; 
    font-weight: bold;
    margin-bottom:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.note-description{
    margin:0 10px 0 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 14px;
}
/* .note-actions{
    display: flex;
    gap:10px;
} */

.edit-button, .delete-button {
    margin:0 10px 0 10px;
    display: flex;
    gap:10px;
    padding:5px 10px;
    border:none;
    margin-top:0.5em;
    background-color: maroon;
    color:white;
    font-size:14px;
    border-radius: 3px;
    cursor:pointer;
}
.edit-button:hover, .delete-button:hover {
    background-color: #ff3333;
}